{% extends 'base.html' %}
{% block title %}Нове свідоцтво{% endblock %}
{% block content %}
<div class="card">
  <h2>Новий сертифікат</h2>
  <form method="post" class="grid gap-3">
    <input name="full_name"  placeholder="ПІБ"               required>
    <input name="specialty"  placeholder="Спеціальність"     required>
    <input name="course"     placeholder="Назва курсу"       required>
    <input name="hours"      type="number" min="1" placeholder="Кількість годин" required>

    <label>Початок:
      <input name="start_date" type="date" required>
    </label>
    <label>Кінець:
      <input name="end_date"   type="date" required>
    </label>

    <label>Курс:
      <select name="year" required>
        {% for n in range(1,7) %}
        <option value="{{ n }}">{{ n }}</option>
        {% endfor %}
      </select>
    </label>

    <input name="lecturer"   placeholder="Викладач курсу"    required>

    <button>Згенерувати PDF</button>
  </form>
</div>
{% endblock %}
